Neuropia.pro.user*
data
mnistdata.bin
neuropia_run*.txt 
.vs
CMakeSettings.json
CMakeCache.txt
CMakeFiles

builds
Neuropia.pro.user*
*.autosave
dump.txt
dump.text
*.bin
*.data
*.wast
wasm/Makefile
wasm/neuropia.js
wasm/neuropia.wasm
.vscode
build
CMakeLists.txt.user
